page-faq {
ion-slide.swiper-slide {
        left: 25%;
    }
    
    .slide-zoom {
        background: #e6e6e6;
    }
 
    .thumb-img {
        padding: 10px;
    }

.sizee
{
    height: 310px;
    width:300px;
    
}

.size{
    font-size: 1.0em;
   

}
  .size1{
      font-size: 1.0rem;
      font-weight: bold;
  }
    .colo{
        color: red;
    }
}
